<header >
    <div class="top"> 
        <div class="logo-y-barra"><img src="/images/logo-mercado-liebre.svg" width=50% alt="Logo de MercadoLiebre">
        <p>
            <div class="barra-de-busqueda">
        <form class="busqueda" action="action_page.php">
            <input type="text" placeholder="Buscar productos,marcas.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        </p>
    </div>
    </div> 
        <p class="compra">
            <i class="fas fa-hand-holding-usd"></i> sistema de administracion de productos
        </p>
    </div>
        <div class="burger-menu" class="menu" align="center"><i class="fa fa-bars burger" id="iconMenu"
                    style="font-size: 2em;"></i></div>
        
        <nav class="menu">

            <ul type="none">
                <li><a href="/views/productEdit.ejs">productos</a></li>

                <li><a href="#">nuevo</a></li>
                
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul type="none">
                <li  class="entrar"><a href="/register">Creá tu cuenta
                        <i class="far fa-id-card"></i>
                    </a></li>
                <li class="entrar"><a href="/login">Ingresá
                        <i class="fas fa-sign-in-alt"></i>
                    </a></li>
                
            </ul>
            
        </nav>
</header>