<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main class="create">
        <h1>La página solicitada no existe.</h1>

        <h3>Prueba con algúna de las opciones de la barra de navegación.</h3>

        
        
    </main>
    <%- include('partials/footer') %>
</body>
</html>